.layout {
  display: flex;
  flex-direction: row;
}

.layout__sidebar {
  width: 15rem;
  border-right: 3px solid black;
}

.layout__content {
  margin: 0.5rem;
  padding: 0.5rem;
  border-top: 2px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 2px solid black;
  border-radius: 3px;
  width: 100%;
}
